.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /* จัดให้อยู่ตรงกลางในแนวนอน */
  align-items: center; /* จัดให้อยู่ตรงกลางในแนวตั้ง */
  box-sizing: border-box;
  margin: 0px -10px;
}

.shape {
  width: 350px;
  height: 350px;
  margin: 10px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.mesages {
  background-color: #ff9500;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  border: 1px solid #000;
}
.header-box {
  background-color: rgb(104, 115, 240);
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 20px;
  border: 1px solid #000;
}
.footer-box{
  background-color: rgb(3, 13, 123);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  padding: 20px;
  border: 1px solid #000;
}

@media (min-width: 576px) {
  .box {
    flex: 0 1 calc(100% - 10px); /* 1 คอลัมน์ในแต่ละแถว */
  }
}
@media (min-width: 768px) {
  .box {
    flex: 0 1 calc(50% - 10px); /* 2 คอลัมน์ในแต่ละแถว */
  }
}
@media (min-width: 992px) {
  .box {
    flex: 0 1 calc(33.33% - 10px); /* 3 คอลัมน์ในแต่ละแถว */
  }
}
@media (min-width: 1200px) {
  .box {
    flex: 0 1 calc(33.33% - 10px); /* 4 คอลัมน์ในแต่ละแถว */
  }
}
@media (min-width: 1400px) {
  .box {
    flex: 0 1 calc(33.33% - 10px); /* 5 คอลัมน์ในแต่ละแถว */
  }
}
